:host {
  display: flex;
  align-items: center;
  height: 100%;
}

@media (max-width: 1023px) {
  :host {
    display: block;
    height: auto;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
