node_modules
dist
.angular
.git
.gitignore
.vscode
.idea
.history
coverage
*.log
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.editorconfig
.prettierrc
README.md
Dockerfile
docker-compose.yml
.dockerignore
