<div class="flex flex-col gap-3 text-sm text-gray-800">


  <h1 class="text-xl font-semibold leading-snug text-gray-900">
    {{ product().title }}
  </h1>

  
    <div class="inline-flex w-fit items-center gap-1 rounded bg-orange-100 px-2 py-1 text-xs font-semibold text-orange-700">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="currentColor">
        <path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14a8 8 0 0 0 16 0c0-4.16-2-7.88-6.5-13.33z"/>
      </svg>
      Pocas unidades
    </div>

  <div class="mt-2">
    <p class="text-3xl font-light text-gray-900">
      {{ product().price | currency:'ARS':'symbol-narrow':'1.0-0' }}
    </p>
    <p class="text-sm text-gray-700">
      {{ product().installments.count }} cuotas de
      {{ product().installments.amount | currency:'ARS':'symbol-narrow':'1.2-2' }}
    </p>
  </div>

  @if (product().promoLabel) {
    <a class="inline-flex w-fit items-center rounded bg-blue-50 px-2 py-1 text-xs font-medium text-blue-600 cursor-pointer">
      {{ product().promoLabel }}
    </a>
  }

  <div class="mt-4">
    <h2 class="mb-2 text-base font-semibold text-gray-900">
      Lo que tenés que saber de este producto
    </h2>
    <ul class="list-disc space-y-1 pl-5 text-sm text-gray-700">
      @for (feature of product().features; track $index) {
        <li>{{ feature }}</li>
      }
    </ul>
  </div>
</div>
